*.arm
*.cmd
*.gxc
*.arn
*.zip
*.dcu
*.tmp
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
./bin/*
./temp/*.*
./vprot/*.*
./data/*.*
./HelpSmith Files/*.*
./WinWCP Setup Project (licensed)/*.*

/data/
/vprot/
